# .coveragerc
[run]
omit =
    tests/*
    */tests/*
    .venv/*
    *tests*.py
    src/cli.py


[report]
# Exclude test files and unnecessary lines from the report
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover

[html]
# Specify the output directory for the HTML report
directory = htmlcov

# Output the report to XML format (for pytest --cov-report=xml)
[xml]
output = coverage.xml
