on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

description: |
  This GitHub Action will automatically create a release PR for the project
  when commits are pushed to the main branch.

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: node
          config-file: .github/release-please-config.json
          token: ${{ secrets.PAT_GITHUB }}
